In [1]:
import pandas as pd

/home/paulo/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [3]:
df = pd.read_csv("../data/gowalla_checkins.csv")

In [4]:
df.userid.unique().size, df.placeid.unique().size

(2467, 355445)

In [5]:
df.userid.max(), df.placeid.max()

(2679149, 7665957)

In [6]:
df.userid =  pd.factorize(df.userid)[0]
df.placeid =  pd.factorize(df.placeid)[0]

In [7]:
df.userid.max(), df.placeid.max()

(2466, 355444)

In [8]:
df['userid_int'] = df.userid.astype(int)
df['placeid_int'] = df.placeid.astype(int)

In [9]:
df

         userid  placeid              datetime  userid_int  placeid_int
0             0        0  2011-06-23T02:24:22Z           0            0
1             0        1  2011-06-22T14:23:03Z           0            1
2             0        2  2011-06-09T23:29:30Z           0            2
3             0        3  2011-05-22T15:54:30Z           0            3
4             0        4  2011-05-21T16:51:13Z           0            4
...         ...      ...                   ...         ...          ...
1048570    2466   355441  2011-06-05T12:16:11Z        2466       355441
1048571    2466   355442  2011-06-05T11:07:24Z        2466       355442
1048572    2466   355443  2011-05-31T12:03:43Z        2466       355443
1048573    2466   355444  2011-05-31T08:38:36Z        2466       355444
1048574    2466    95785  2011-05-31T08:37:50Z        2466        95785

[1048575 rows x 5 columns]

In [23]:
df.to_csv("../data/pre_gowalla_checkins.csv")

In [12]:
df

         userid  placeid              datetime  userid_int  placeid_int
0             0        0  2011-06-23T02:24:22Z           0            0
1             0        1  2011-06-22T14:23:03Z           0            1
2             0        2  2011-06-09T23:29:30Z           0            2
3             0        3  2011-05-22T15:54:30Z           0            3
4             0        4  2011-05-21T16:51:13Z           0            4
...         ...      ...                   ...         ...          ...
1048570    2466   355441  2011-06-05T12:16:11Z        2466       355441
1048571    2466   355442  2011-06-05T11:07:24Z        2466       355442
1048572    2466   355443  2011-05-31T12:03:43Z        2466       355443
1048573    2466   355444  2011-05-31T08:38:36Z        2466       355444
1048574    2466    95785  2011-05-31T08:37:50Z        2466        95785

[1048575 rows x 5 columns]

In [33]:
df_amostra = df[df.userid < 10]
df_amostra.placeid.unique().size

1623

In [32]:

df_amostra.to_csv("../data/amostra_gowalla_checkins.csv")